.examples
    .examples__title Примеры планировочных решений
    .examples__wrapper.wrapper
        .examples__column.examples__column_right125px
            .examples__container
                .examples__column.examples__column_maxWidth230px
                    .examples__name Однокомнатная квартира
                    a.examples__checkAll(href="#") Смотреть все однокомнатные
                .examples__column.examples__column_maxWidth230px.examples__column_flex
                    button.examples__choice.examples__choice_active.examples__choice_render Рендер
                    button.examples__choice.examples__choice_scheme Схема
            .examples__roomContainer
                .examples__room
                .examples__roomLoop
        .examples__column
            .examples__container
                .examples__column.examples__column_maxWidth230px
                    .examples__name Двухкомнатная квартира
                    a.examples__checkAll(href="#") Смотреть все двухкомнатные
                .examples__column.examples__column_maxWidth230px.examples__column_flex
                    button.examples__choice.examples__choice_active.examples__choice_render Рендер
                    button.examples__choice.examples__choice_scheme Схема
            .examples__roomContainer
                .examples__room
                .examples__roomLoop
