.wrapper.slider
    .slider__title(id="infrastructure") Инфраструктура района
    .slider__rel.owl-carousel.owl-theme
        .slider__item(style={background: 'url("img/first_img.png") no-repeat center/cover'})
        .slider__item(style={background: 'url("img/second_img.png") no-repeat center/cover'})
        .slider__item(style={background: 'url("img/third_img.png") no-repeat center/cover'})
        .slider__item(style={background: 'tomato'})
        .slider__item(style={background: 'aqua'})
