.plan
    .wrapper
        .plan__title(id="plan") Планировка
        .plan__container
            .plan__text Комплексная жилая застройка переменной этажности 7-17 этажей, со встроенными коммерческими помещениями, детским садом, школой и многоуровневой парковкой. На территории жилого квартала предусмотрена детская поликлиника. Периметральная застройка и закрытые обустроенные дворы обеспечивают безопасность для детей и жителей квартала.
            button.plan__button Выбрать квартиру
