.wrapper.trade
    .trade__title Офис продаж
    .trade__container
        .trade__img
        .trade__column
            .trade__text Офис продаж расположен на объекте по адресу ул. Набережная 62-ой Армии, 6
            a.trade__ref(href="https://yandex.ru/maps/38/volgograd/?ll=44.522149%2C48.700699&mode=routes&rtext=~48.701189%2C44.519327&rtt=auto&z=17.4" target="_blank") Как добраться
