doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        main
            .hidden__container
                .hidden    
            include ../blocks/header/header.jade
            include ../blocks/plan/plan.jade
            include ../blocks/examples/examples.jade
            include ../blocks/slider/slider.jade
            include ../blocks/map/map.jade
            include ../blocks/trade/trade.jade
