noscript
    p Please enable Javascript

.header__hidden
    .header__wrapper.wrapper
        nav.header__nav
            a.header__logo(href="#") ЛОГО
            .header__column
                a.header__link(href="#plan") Планировки
                a.header__link(href="#infrastructure") Инфраструктура
                a.header__link(href="#map") Карта

header.header
    .header__wrapper.wrapper
        nav.header__nav
            a.header__logo(href="#") ЛОГО
            .header__column
                a.header__link(href="#plan") Планировки
                a.header__link(href="#infrastructure") Инфраструктура
                a.header__link(href="#map") Карта
        .header__title Новый комплекс бизнес-класса в Волгограде
        button.header__button Выбрать квартиру
